## import library

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Load Dataset

In [22]:
df = pd.read_csv("HTRU_2.csv", header=None)

df.columns = [
    "mean_profile",
    "std_profile",
    "skewness_profile",
    "kurtosis_profile",
    "mean_dm_snr",
    "std_dm_snr",
    "skewness_dm_snr",
    "kurtosis_dm_snr",
    "class"
]

df.head()

,mean_profile,std_profile,skewness_profile,kurtosis_profile,mean_dm_snr,std_dm_snr,skewness_dm_snr,kurtosis_dm_snr,class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

 ## Info & Struktur Data

In [23]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mean_profile      17898 non-null  float64
 1   std_profile       17898 non-null  float64
 2   skewness_profile  17898 non-null  float64
 3   kurtosis_profile  17898 non-null  float64
 4   mean_dm_snr       17898 non-null  float64
 5   std_dm_snr        17898 non-null  float64
 6   skewness_dm_snr   17898 non-null  float64
 7   kurtosis_dm_snr   17898 non-null  float64
 8   class             17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

,mean_profile,std_profile,skewness_profile,kurtosis_profile,mean_dm_snr,std_dm_snr,skewness_dm_snr,kurtosis_dm_snr,class
count,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000
mean,111.079968,46.549532,0.477857,1.770279,12.614400,26.326515,8.303556,104.857709,0.091574
std,25.652935,6.843189,1.064040,6.167913,29.472897,19.470572,4.506092,106.514540,0.288432
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.000000
25%,100.929688,42.376018,0.027098,-0.188572,1.923077,14.437332,5.781506,34.960504,0.000000
50%,115.078125,46.947479,0.223240,0.198710,2.801839,18.461316,8.433515,83.064556,0.000000
75%,127.085938,51.023202,0.473325,0.927783,5.464256,28.428104,10.702959,139.309330,0.000000
max,192.617188,98.778911,8.069522,68.101622,223.392141,110.642211,34.539844,1191.000837,1.000000

## Cek Missing Values

In [24]:
df.isnull().sum()

mean_profile        0
std_profile         0
skewness_profile    0
kurtosis_profile    0
mean_dm_snr         0
std_dm_snr          0
skewness_dm_snr     0
kurtosis_dm_snr     0
class               0
dtype: int64

## Cek & Hapus Duplikasi

In [25]:
df.duplicated().sum()
df = df.drop_duplicates()
df.shape

(17898, 9)

## Pisahkan Fitur & Label

In [26]:
X = df.drop(columns=["class"])
y = df["class"]

## Trainâ€“Test Split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

## Standarisasi Dengan Benar

In [28]:
scaler = StandardScaler()

# fit hanya ke data training
X_train_scaled = scaler.fit_transform(X_train)

# test ditransform memakai scaler yang sama
X_test_scaled = scaler.transform(X_test)

# untuk clustering nanti
X_scaled = scaler.fit_transform(X)

## Train-Test Split

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42, stratify=y
)

## (Opsional) Cek distribusi label

In [30]:
y.value_counts()

class
0    16259
1     1639
Name: count, dtype: int64